/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/* || VARIABLES */
  :root{
  --cssfileversion: "0315";
  --footergrey:#999999cc;;
  --flightallowed:#209020;;
  --flightnotallowed:#995555;;
  }
/* END OF VARIABLES */

/* || GLOBAL ELEMENTS */
  body{
  font-family: Lato;
  background-color: var(--bgroundshade);
  margin: 0;
  }

  /* Semantic Only Elements */
  .pln-semantic-only {
    display: none;
  }

  /*Attributions */
  .pln-attrib {
    font-size: 9pt;
    font-weight: 700;
   }

  /* Styling for the site-wide background image */
  div.bground{
      width: 100%;
      height: 100%;
      background-image: URL("../images/ingenuity.png"); 
      z-index: -1;
      padding: 0px;
      position: fixed;
      background-size: cover;
      margin: 0px;
      animation-fill-mode: forwards;
      background-position: center center;
      opacity: 0.2;
      filter: grayscale(0.9);
      animation-name: bground-blur;
      animation-duration: 3s;
  }

  /* Fixed Buttons */
  .pln-btn-fixed {
    position: fixed;
    z-index: 10;
    bottom: 30px;
    display: none;
    width: 120px;
    height: 30px;
    padding: 0px;
    margin:0;
  }

  .pln-btn-right {
    right: 5px;
    margin-right: 25%;
  }

  .pln-btn-left {
    left: 5px;
    margin-left: 25%;
  }

  #pln-next-location{
  }

  #pln-param-reset{
  }

  #pln-dronesafety {
    display: block;
    width: 150px;
  }

  /* End of Styling for Fixed Buttons */

  /* Styling for the 'Virtual Page' div elements */
  div.MenuComponent{
  padding: 100px 0 120px 0;
  margin-bottom: 60px;
  }

  .pln-param-instruct{
  font-size: 14pt;
  background-color: #ffffff00;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  border-radius: 2px;
  padding: 2px;
  min-height: 50px;
  }

  .pln-step{
  font-size: 14pt;
  margin: 2px 10px 2px 0;
  color: rgb(146, 10, 10);
  }

  *{
  margin: 0;
  padding: 0;
  border: 0;
  }

  .pln-steps{
  background-color: var(--footergrey);
  padding: 5px;
  color: #000000;
  }

  .pln-btn{
  background-color: #007bff;
  color: #ffffff;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  cursor: pointer;
  }
/* END OF GLOBAL ELEMENTS */

/* || NAVIGATION */

#Gallery{
margin-bottom: 0px;
}

#HomePageButton{
  margin-left: 80px;
}

.nav-item {
  width: 100%;
}

#menu{
  background-color: #000000;
  width: 80%;
  z-index: 12;
}

.MenuButton{
  width: 100%;
}

.navbar navbar-nav a{
font-weight: bold;
}

.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color:  rgba(0,0,0,1);
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 5;
}

.navbar .navbar-toggler{
border: 0;
}

.navbar .navbar-toggler{
border: 0;
}

nav{
width: 100%;
padding: 0px;
margin: 0px 0px 0px 0px;
display: block;
background-color: #000000cc;
}

#nav{
margin: 0 10% 0 50px;
}

.menu_span{
 color: #ffffff;
 margin: 0 50px;
}

.nav-item{
 cursor: pointer;
}

.pln-help{
  font-size: 150%;
  color: #ffffffff;
}
/* END OF NAVIGATION */

/* || HOME PAGE */
  #pln-cta{
    background-image: url("../images/home_image.jpg");
    background-size: cover;
    margin: 20px auto;
    background-position: center center;
    padding: 10% 10% 15px 10%;
    max-width: 1300px;
   }

   #pln-cta-primary {
     margin: auto;
   }
  
  #pln-cta p{
    font-size: 18pt;
    font-weight: 600;
    display: block;
    width: 100%;
    background-color: #ccccccbb;
    margin-top: 50px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px;
  }
  
  .pln-notice{
    font-weight: 800;
    background-color: #ccccccbb;
    font-size: 14pt;
    max-width: 1200px;
    padding: 10px 3px;
  }
  
  .pln-notice-header{
    font-weight: 900;
    font-size: 20pt;
    background-color: #ccccccbb;
    padding: 3px;
  }
  
  .pln-notice-container{
    margin: auto;
    border: 3px solid brown;
    max-width: 1000px;
    padding: 0;
  }
/* END OF HOME PAGE */

/* || FOOTER */

footer{
 position: fixed;
 bottom: 0;
 width: 100%;
 text-align: center;
 background-color: var(--footergrey);
 height: 60px;
 z-index: 5;
}

footer p{
color: #ffffffff;
margin: 0;
}

#CSSSerNo::before{
content: var(--cssfileversion);
}

.footer-sm{
 font-size: 100%;
 color: #fff;
 margin-top: 30px;
}

#CSSSerNo::before{
content: var(--cssfileversion);
}

/* END OF FOOTER */


.logoleft{
border-radius: 50%;
width: 80px;
padding: 0;
margin: 0 10px 0 0;
border-width: 0;
}

header{
overflow: hidden;
margin: 0;
}

.header-lg{
font-size: 130%;
font-weight: 500;
margin: 0;
padding: 0;
line-height: 100%;
text-align: center;
}

.header-sm{
font-size: 90%;
font-weight: 300;
margin: 0 0 0 5px;
padding: 0;
line-height: 100%;
letter-spacing: 1px;
text-align: center;
}

/* || LOCATION PAGE */

  #pln-mapping {
    margin-bottom: 20px;
  }

  #pln-osmap{
  height: 580px;
  }

  #pln-satview{
  height: 580px;
  }

/* END OF LOCATION PAGE */

/* || FLIGHT PARAMETERS */

/* Styling for competency boxes on the flight parameters page */
.pln-comp{
 border: 2px solid black;
 padding: 5px;
 height: 120px;
}

/* Styling for drone category boxes on the flight parameters page */
.pln-dronecat{
 border: 2px solid black;
 height: 67px;
 padding: 3px;
 font-size: 10pt;
 margin: 0 5px;
}

.pln-flightcat{
 border: 2px solid;
 height: 100px;
 padding: 5px;
}

/* Labels for the competencies on the flight parameters page. */
.pln-comp-lbl{
 font-size: 110%;
 font-weight: 600;
}

/* Styling for competency checkboxes */
.pln-comp input{
 margin-left: 5px;
}

/* Styling for description box for competencies. */
.pln-comp-desc{
 display: flex;
 align-items: center;
 font-size: 12pt;
}

/* Styling that applies to all elements in the drone categories column */
#pln-dronecategories{
 color: #000055;
 height: 800px;
 padding: 0;
}

/* Styling that applies to all elements in the flight categories column */
#pln-flightcategories{
 color: #de8f00;
 height: 800px;
 padding: 0;
}

.pln-comp-head{
 height: 40px;
}

.pln-dronecat-head{
 height: 25px;
 font-weight: 600;
 font-size: 14pt;
}

/* Styling that applies to all elements in the competencies column */
#pln-competencies{
 color: #000000;
 height: 800px;
 padding: 0;
}

/* Styling for headers of sections on the flight parameters page. */
.pln-params-h1{
 font-weight: 600;
 font-size: 24pt;;
 margin: 10px 0 10px 3px;
}



.pln-dronecat-desc{
}

#pln-step-one{
}

#pln-step-two{
 font-weight: 300;
 background-color: #ffffff00;
}

#pln-result-a{
 font-weight: 100;
 background-color: #ffffff00;
}

.pln-comp, .pln-dronecat, .pln-flightcat{
 background-color: #dddddddd;
 margin: 0 5px;
}

.pln-flight-yes{
 color: var(--flightallowed);
}

.pln-flight-no{
 color: var(--flightnotallowed);
 text-decoration: line-through;
}



.pln-btn-next{
 margin: auto;
}

.row{
 margin: 0;
}

.pln-flightcat-head{
 font-weight: 900;
}

/* END OF FLIGHT PARAMETERS */

/* || LOCATION PAGE */

#pln-dsmap-1, #pln-param-rtn {
 margin: 0;
 background-color: #0078ff;
 color: #ffffff;
 padding: 1px;
 border-radius: 3px;
 cursor: pointer;
 font-size: 11pt;
}

#pln-step-four-1{
 padding-right: 1px;
}

#pln-step-four-2{
 padding-left: 1px;
}

#pln-recenter{
 margin: 10px auto;
 width: 100%;
}

#pln-dsmap-2{
 margin: 10px auto;
 width: 80%;
}

#pln-flsummary{
 font-size: 14pt;
 text-align: center;
 background-color: var(--footergrey);
 color: #920a0a;
}

#pln-geo{
 height: 100%;
 padding: 0;
}

#pln-maps{
 padding: 0;
}

.pln-location-frm{
 padding: 5px;
}

.pln-steps-location{
 padding: 0;
}

/* END OF LOCATION PAGE */

/* || ANIMATIONS */
@keyframes bground-blur{
  from{
     transform: scale(1);
     filter: blur(10px);
 
   }
   to{
     transform: scale(1.1);
     filter: blur(1px);
   }
 }
 /* END OF ANIMATIONS */


/* || MEDIA QUERIES*/
  /* For extra-wide 4k screens */
  @media screen and (min-width: 2400px){
 
  }
  
  /* Equivalent to Bootstrap Extra Extra Large */
  @media screen and (min-width: 2000px){
   
  }
 
 /* Equivalent to Bootstrap Extra Large */
  @media screen and (max-width: 1999px){
  
  }
 
 /* Equivalent to Bootstrap Large */
  @media screen and (max-width: 1199px){
    .pln-param-instruct {
      font-size: 10pt;
    }
    .pln-dronecat-desc {
      font-size: 10pt;
      line-height: 1;
    }

    .pln-flightcat-desc {
      font-size: 10pt;
      line-height: 1;
    }

    .pln-comp-desc {
      font-size: 11pt;
      line-height: 1;
    }

    #pln-osmap, #pln-satview {
      height: 450px;
      }

    .pln-h1 {
      font-size: 14pt;
    }

    .form-group label{
      margin: 0;
      line-height: 1;
    }
    .pln-attrib {
      font-size: 8pt;
      line-height: 1;
    }
    .form-control {
      font-size: 9pt;
    }
    .form-group {
      margin: 0;
    }
    #pln-recenter {
      margin: 0 auto;
    }

    .footer-sm{
      margin-top: auto;
    }
  }
 
 /* Equivalent to Bootstrap Medium */
 @media screen and (max-width: 991px){
  .pln-param-instruct {
    font-size: 10pt;
  }

  #HomePageButton {
    margin-left: 0;
  }

  #menu {
    width: 40%;
  }

  #pln-osmap, #pln-satview {
    height: 300px;
  }
  #FlightParameters, #Location {
    padding-top: 100px;
  }
  
 }
  
 /* Equivalent to Bootstrap Small */
 @media screen and (max-width: 767px){
  .pln-btn-right {
    margin-right: 0;
  }
  
  .pln-btn-left {
    margin-left: 0;
  }

  .footer-sm{
    font-size: 8pt;
  }

  
 }

 
 
 