/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');
/* Variable */
:root{
--menubuttonwidth: %;
--cssfileversion: "0262";
--footergrey:#999999cc;;
--flightallowed:#209020;;
--flightnotallowed:#995555;;
}
body{
 font-family: Lato;
 background-color: var(--bgroundshade);
 margin: 0;
}
div.bground{
    width: 100%;
    height: 100%;
    background-image: URL("../images/ingenuity.png"); 
    z-index: -1;
    padding: 0px;
    position: fixed;
    background-size: cover;
    margin: 0px;

    animation-fill-mode: forwards;
    background-position: center center;
    opacity: 0.3;
    filter: grayscale(0.9);
}
div.MenuComponent{
 padding: 0 0 120px 0;
 margin-top: 100px;
 margin-bottom: 60px;
}
.pln-param-instruct{
 font-size: 14pt;
 background-color: #ffffffff;
 font-weight: 900;
 line-height: 1;
 margin: 0;
 border-radius: 2px;
 padding: 2px;
}
.pln-step{
 font-size: 14pt;
 margin: 2px 10px 2px 0;
}
*{
 margin: 0;
 padding: 0;
 border: 0;
}
.pln-steps{
 background-color: var(--footergrey);
 padding: 5px;
}
/* CSS for the Gallery element */
#Gallery{
margin-bottom: 0px;
}
.navbar navbar-nav a{
font-weight: bold;
}
.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color:  rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 5;
}
.navbar .navbar-toggler{
border: 0;
}
.navbar .navbar-toggler{
border: 0;
}
nav{
width: 100%;
padding: 0px;
margin: 0px 0px 0px 0px;
display: block;
background-color: #000000cc;
}
#nav{
margin: 0 10% 0 50px;
}
.menu_span{
 color: #ffffff;
 margin: 0 50px;
}
.nav-item{
 cursor: pointer;
}
footer{
 position: fixed;
 bottom: 0;
 width: 100%;
 text-align: center;
 background-color: var(--footergrey);
 height: 60px;
 z-index: 5;
}
footer p{
color: #ffffffff;
margin: 0;
}
#CSSSerNo::before{
content: var(--cssfileversion);
}
.footer-sm{
 font-size: 100%;
 color: #fff;
}
.social-networks{
text-align: center;
margin: 5px 0;
}
.social-networks i{
font-size: 160%;
margin: 0 1% 0;
padding: 3px 5% 0;
color: #ffffffff;
}
.social-networks li{
display: inline;
}
#CSSSerNo::before{
content: var(--cssfileversion);
}
.logoleft{
border-radius: 50%;
width: 80px;
padding: 0;
margin: 0 10px 0 0;
border-width: 0;
}
header{
overflow: hidden;
margin: 0;
}
.header-lg{
font-size: 130%;
font-weight: 500;
margin: 0;
padding: 0;
line-height: 100%;
text-align: center;
}
.header-sm{
font-size: 90%;
font-weight: 300;
margin: 0 0 0 5px;
padding: 0;
line-height: 100%;
letter-spacing: 1px;
text-align: center;
}
#pln-cta{
 background-image: url("../images/home_image.jpg");
 background-size: cover;
 margin: 20px auto;
 background-position: center center;
 padding: 10% 10% 15px;
 max-width: 1300px;
    animation-name: hero-zoom;
    animation-duration: 3s;
}
#pln-cta p{
 font-size: 18pt;
 font-weight: 600;
 display: block;
 width: 100%;
 background-color: #ccccccbb;
 margin-top: 50px;
 border: 1px black solid;
 border-radius: 10px;
 padding: 5px;
}
#pln-cta-primary{
 margin: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
}
.pln-notice{
 font-weight: 800;
 background-color: #ccccccbb;
 font-size: 18pt;
}
.pln-notice-header{
 font-weight: 900;
 font-size: 20pt;
 background-color: #ccccccbb;
}
.pln-notice-container{
 margin: auto;
 border: 3px solid brown;
}
#pln-osmap{
 height: 600px;
}
#pln-satview{
 height: 600px;
}
/* Styling for competency boxes on the flight parameters page */
.pln-comp{
 border: 2px solid black;
 padding: 5px;
 height: 120px;
}
/* Styling for drone category boxes on the flight parameters page */
.pln-dronecat{
 border: 2px solid black;
 height: 67px;
 padding: 3px;
 font-size: 10pt;
}
.pln-flightcat{
 border: 2px solid;
 height: 100px;
 padding: 5px;
}
/* Labels for the competencies on the flight parameters page. */
.pln-comp-lbl{
 font-size: 110%;
 font-weight: 600;
}
/* Styling for competency checkboxes */
.pln-comp input{
 margin-left: 5px;
}
/* Styling for description box for competencies. */
.pln-comp-desc{
 display: flex;
 align-items: center;
 font-size: 12pt;
}
/* Styling that applies to all elements in the drone categories column */
#pln-dronecategories{
 color: #000055;
 height: 800px;
}
/* Styling that applies to all elements in the flight categories column */
#pln-flightcategories{
 color: #de8f00;
 height: 800px;
}
.pln-comp-head{
 height: 40px;
}
.pln-dronecat-head{
 height: 25px;
 font-weight: 600;
 font-size: 14pt;
}
/* Styling that applies to all elements in the competencies column */
#pln-competencies{
 color: #000000;
 height: 800px;
}
/* Styling for headers of sections on the flight parameters page. */
.pln-params-h1{
 font-weight: 600;
 font-size: 24pt;;
 margin: 10px 0;
}
#pln-param-reset{
 z-index: 10;
 display: none;
 margin-left: 30px;
 width: 120px;
 position: absolute;
 bottom: 20px;
 left: 10px;
}
.pln-dronecat-desc{
}
#pln-step-one{
 font-weight: 900;
 background-color: #ffffffff;
}
#pln-step-two{
 font-weight: 300;
 background-color: #ffffff00;
}
#pln-result-a{
 font-weight: 100;
 background-color: #ffffff00;
}
.pln-comp, .pln-dronecat, .pln-flightcat{
 background-color: #dddddddd;
}
.pln-flight-yes{
 color: var(--flightallowed);
}
.pln-flight-no{
 color: var(--flightnotallowed);
 text-decoration: line-through;
}
.row{
 margin: 0;
}
.pln-flightcat-head{
 font-weight: 900;
}
@keyframes hero-zoom{
 from{
    transform: scale(0.99);
    background-image: blur(10px);

  }
  to{
    transform: scale(1);
    background-image: blur(1px);
  }
}
